
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/server/final_app/node_modules/bower/lib/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/server/final_app/node_modules/bower/lib/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/server/final_app/node_modules/bower/lib/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/server/final_app/node_modules/bower/lib/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
</head>
<body>
<h1>Sup</h1>
</body>
</html>